<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.first.group.mainbody.mapper.MbShopMapper">
    <select id="findShortShop" resultType="com.first.group.mainbody.pojos.MbShop" parameterType="com.first.group.mainbody.dtos.ShortShopDto">
        select * from mb_shop
        <where>
            <if test="dto.id != -1">
                id = #{id}
            </if>
            <if test="dto.shortName != ''">
                short_name like concat(concat('%', #{dto.shortName}),'%')
            </if>
            <if test="dto.status != -1">
                status = #{dto.status}
            </if>
            <if test="dto.districtId != -1 and dto.type == 1">
                districtId = #{dto.districtId}
            </if>
            <if test="dto.contactNumber != '' and dto.type == 1">
                contact_number like concat(concat('%', #{dto.contactNumber}),'%')
            </if>
            <if test="dto.chain != -1 and dto.type == 1">
                chain = #{dto.chain}
            </if>
            <if test="dto.contacts != '' and dto.type == 2">
                contacts like concat(concat('%', #{dto.contacts}),'%')
            </if>
        </where>
    </select>

    <insert id="addShop" parameterType="com.first.group.mainbody.pojos.MbShop" useGeneratedKeys="true" keyProperty="shop.id">
        INSERT INTO mb_shop
        VALUES (null, #{shop.fullName}, #{shop.shortName}, #{shop.contacts}, #{shop.contactNumber}, #{shop.districtId}, #{shop.address}, #{shop.chain}, #{shop.tag}, #{shop.lat}, #{shop.lng}, #{shop.images}, #{shop.status}, #{shop.type}, #{shop.isPass})
    </insert>
</mapper>