<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.first.group.settlement.mapper.OrderPayMapper">

	<select id="findByMerchantId" resultType="com.first.group.settlement.pojos.SmOrderPay">
		select * from sm_order_pay sop where sop.merchant_id = #{merchantId}
	</select>


	<select id="findOrderPay" resultType="com.first.group.settlement.pojos.SmOrderPay">
		select * from sm_order_pay sop

		<where>
			<if test="dto.billId != null and dto.billId != ''">
				sop.bill_id = #{dto.billId}
			</if>
			<if test="dto.type != null and dto.type != ''">
				and sop.type = #{dto.type}
			</if>
			<if test="dto.startTime != null and dto.endTime != null">
				and sop.created_time between #{dto.startTime} and #{dto.endTime}
			</if>
		</where>

	</select>
</mapper>