<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.first.group.settlement.mapper.ProviderBillMapper">

	<select id="findAll" resultType="com.first.group.settlement.pojos.SmBill">
		select * from sm_bill s

		<where>
			<if test="dto.billId != null and dto.billId != ''">
				s.bill_id = #{dto.billId}
			</if>
			<if test="dto.name != null and dto.name != ''">
				and s.merchant_name like concat(concat('%',#{dto.name}),'%')
			</if>
			<if test="dto.status != null and dto.status &gt; -1">
				and s.status = #{dto.status}
			</if>
			<if test="dto.subtype != null">
				and s.subtype = #{dto.subtype}
			</if>
			<if test="dto.start != null and dto.end != null">
				and s.created_time between #{dto.start} and #{dto.end}
			</if>

			and s.service_type = 1
		</where>

		order by s.created_time desc

	</select>


	<select id="findBePay" resultType="com.first.group.settlement.pojos.SmBePay">
		select * from sm_be_pay sb

		<where>
			<if test="dto.merchantId != null">
				sb.merchant_id = #{dto.merchantId}
			</if>
			<if test="dto.merchantName != null and dto.merchantName != ''">
				and sb.merchant_name like concat(concat('%',#{dto.merchantName}),'%')
			</if>

			and sb.service_type = 1
		</where>

	</select>

	
	<select id="findPay" resultType="com.first.group.settlement.pojos.SmPay">
		select * from sm_pay sp 
		
		<where>
			<if test="dto.paymentId != null and dto.paymentId != ''">
				sp.payment_id = #{dto.paymentId}
			</if>
			<if test="dto.payee != null and dto.payee != ''">
				and sp.payee like concat(concat('%',#{dto.payee}),'%')
			</if>
			<if test="dto.payType != null and dto.payType &gt; -1">
				and sp.pay_type = #{dto.payType}
			</if>
			<if test="dto.startTime != null and dto.endTime != null">
				and sp.pay_time between #{dto.startTime} and #{dto.endTime}
			</if>

			and sp.service_type = 1
		</where>

		order by sp.pay_time desc

	</select>
</mapper>