<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.first.group.settlement.mapper.SmBillMapper">

	<select id="findAll" resultType="com.first.group.settlement.pojos.SmBill">
		select * from sm_bill s

		<where>
			<if test="dto.billId != null and dto.billId != ''">
				s.bill_id = #{dto.billId}
			</if>
			<if test="dto.name != null and dto.name != ''">
				and s.merchant_name = #{dto.name}
			</if>
			<if test="dto.status != null and dto.status &gt; -1">
				and s.status = #{dto.status}
			</if>
			<if test="dto.billType != null">
				and s.type = #{dto.billType}
			</if>
			<if test="dto.start != null and dto.end != null">
				and s.created_time between #{dto.start} and #{dto.end}
			</if>

			and s.service_type = 0
		</where>

		order by s.created_time desc

	</select>
</mapper>